[Unit]
Description=Hardware detection
Documentation=man:lshwd(8)
DefaultDependencies=no
Conflicts=shutdown.target
After=systemd-remount-fs.service
Before=systemd-sysusers.service sysinit.target shutdown.target
ConditionPathIsReadWrite=/etc
#ConditionFirstBoot=yes

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/lshwd -a >/dev/null
#StandardOutput=tty
#StandardInput=tty
#StandardError=tty

